#header_img{
    max-height: 200px;
    max-width: 30%;
}
#card_img{
    max-height: 1600px;
    max-width: 50%;
}
#header_color{
    background-color: #f2f2f2;
    color:#37465d;
}

ul{
    list-style: none;
}

body{
    padding-top: 150px;
}
.header_text:hover{
    color:#cc7a00;
}

.main_page_title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#background_color_green{
    background-color: #b8e6cf;
}

#product_imgs{
    max-width: 800px;
    max-height: 800px;
}
body {
    overflow-x: hidden !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
#about_us_bg_color{
    background-color: #f7f4d5;
}
#chocolate_cake{
    max-height: 50%;
}
@media only screen and (min-width: 1025px){
    .large_font_size{
        font-size: 125%;
    }
}
@media only screen and (max-width:426px){
.large_font_size{
    font-size: 85%;
}
}
#contact_us_background_color{
    background-color: #e2c5ed;
}

#googlemap{
    max-width:fit-content;
}
.socialbtn{
    background-color: #54456b;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}